In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame(np.random.rand(4,8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.548130,0.797594,0.653842,0.601969,0.786282,0.828494,0.371886,0.859617
1,0.096927,0.614580,0.977355,0.753195,0.290163,0.186536,0.501304,0.729398
2,0.701252,0.423946,0.681762,0.133792,0.827916,0.795083,0.758053,0.335071
3,0.149905,0.054076,0.547535,0.879373,0.884265,0.938626,0.895571,0.768198

In [3]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300,400]})
df

   col one  col two
0      100      300
1      200      400

In [4]:
df = df.rename({'col one': 'col_one', 'col two': 'col_two'}, axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [5]:
df.columns = df.columns.str.replace(' ', '_')
df

   col_one  col_two
0      100      300
1      200      400

In [6]:
rename_df = pd.DataFrame({'Yemeni people':[10000000, 400000000],  'Saudi people':[35, 55]})
rename_df

   Yemeni people  Saudi people
0       10000000            35
1      400000000            55

In [7]:
df.columns = ["Yemini people", "Saudi people"]

In [8]:
df.columns = df.columns.str.replace(' ', '_')
rename_df

   Yemeni people  Saudi people
0       10000000            35
1      400000000            55

In [9]:
print(rename_df)

   Yemeni people  Saudi people
0       10000000            35
1      400000000            55

In [10]:
#Reverse Row order
drinks.loc[::-1].reset_index(drop=True).head()

NameError: name 'drinks' is not defined

In [11]:
# Reverse the columns order
drinks.loc[:, ::-1],head()

NameError: name 'drinks' is not defined

In [12]:
dd = pd.DataFrame({'col_one':['1.1', '2.2', '3.3'], 
                   'col_two':['4.4', '5.5', '6.6'],
                   'col_three':['7.7', '8.8', '-']})
dd

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

In [13]:
dd.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [14]:
# Converting strings to numbers
dd.astype({'col_one':'float', 'col_two':'float'}).dtypes

col_one      float64
col_two      float64
col_three     object
dtype: object

In [15]:
# Convert 'unknown' to a Nan by using the 'coerce' method
pd.to_numeric(dd.col_three, errors='coerce')

0    7.7
1    8.8
2    NaN
Name: col_three, dtype: float64

In [16]:
# After converting into a Nan we than use the fillna method to fill in with 0
pd.to_numeric(dd.col_three, errors='coerce').fillna(0)

0    7.7
1    8.8
2    0.0
Name: col_three, dtype: float64

In [17]:
# Apply the whole data frame with the to numeric code 
dd = dd.apply(pd.to_numeric, errors='coerce').fillna(0)
dd

   col_one  col_two  col_three
0      1.1      4.4        7.7
1      2.2      5.5        8.8
2      3.3      6.6        0.0

In [18]:
dd.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object

In [19]:
print('My name is')
for i in range(5):
    print('Moesteelo Five Times ({})'.format(str(i)))

My name is
Moesteelo Five Times (0)
Moesteelo Five Times (1)
Moesteelo Five Times (2)
Moesteelo Five Times (3)
Moesteelo Five Times (4)

In [20]:
for i in range (2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [21]:
for s in range (10, -1, -2):
    print(s)

10
8
6
4
2
0

In [22]:
for i in [1, 2, 3, 4, 5]:
    if i ==3:
        break
else:
    print("only executed when no itme of the list is equal to 3")

In [23]:
import random
for i in range (5):
    print(random.randint(1, 10))

1
3
8
8
2

In [24]:
def hello(name):
    print('Hello {}'.format(name))
    
hello('Alice')
hello('Bob')

Hello Alice
Hello Bob

In [25]:
import random
def getAnswer(answerNumber):
    if answerNumber == 1:
        return 'It is certain'
    elif answerNumber == 2:
        return 'It is decidedly so'
    elif answerNumber == 3:
        return 'Yes'
    elif answerNumber == 4:
        return 'Reply hazy try again'
    elif answerNumber == 5:
        return 'Ask again later'
    elif answerNumber == 6:
        return 'Concentrate and ask again'
    elif answerNumber == 7:
        return 'My reply is no'
    elif answerNumber == 8:
        return 'Outlook not so good'
    elif answerNumber == 9:
        return 'Very doubtful'

r = random.randint(1, 9)
fortune = getAnswer(r)
print(fortune)

Ask again later

In [26]:
print('Cats', 'Dogs', 'Pandas', sep=',')

Cats,Dogs,Pandas

In [27]:
dd = ['Cat', 'Dog', 'Pands', 'Elephant']
dd[0]
'The {} is afraid of the {}.'.format(dd[-1], dd[-2])

'The Elephant is afraid of the Pands.'

In [28]:
dd = ['Cat', 'Dog', 'Pands', 'Elephant']
dd[0:4]

['Cat', 'Dog', 'Pands', 'Elephant']

In [29]:
dd[:2]

['Cat', 'Dog']

In [30]:
df = dd[:]

In [31]:
dd.append('Dog')

In [32]:
dd

['Cat', 'Dog', 'Pands', 'Elephant', 'Dog']

In [33]:
df

['Cat', 'Dog', 'Pands', 'Elephant']

In [34]:
spam = [1, 2,3]

In [35]:
spam = spam + ['A', 'B', 'C']

In [36]:
print(spam)

[1, 2, 3, 'A', 'B', 'C']

In [37]:
supplies = ['pens', 'staplers', 'flame-throwers', 'binders']
for i, supply in enumerate(supplies):
    print('Index {} in supplies is: {}'.format(str(i), supply))

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flame-throwers
Index 3 in supplies is: binders

In [38]:
name = ["Peter","Jack", "Emma"]
age = [12, 24, 36]
for n, a in zip(name, age):
    print('{} is {} years old'.format(n,a))

Peter is 12 years old
Jack is 24 years old
Emma is 36 years old

In [39]:
cat = ['fat', 'orange', 'loud']
size, color, disposition = cat
print('cat', disposition)

cat loud

In [40]:
spam = ['cat', 'dog', 'bat']
spam.append('moose')
spam

['cat', 'dog', 'bat', 'moose']

In [41]:
spam = ['cat', 'dog', 'bat']
spam.insert(1,'moose')
spam

['cat', 'moose', 'dog', 'bat']

In [42]:
spam = [2, 5, 3.14, 1, -7]
spam.sort()
spam

[-7, 1, 2, 3.14, 5]

In [43]:
spam = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
spam.sort()
spam

['ants', 'badgers', 'cats', 'dogs', 'elephants']

In [44]:
spam.sort(reverse=True)
spam

['elephants', 'dogs', 'cats', 'badgers', 'ants']

In [45]:
spam = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
sorted(spam)

['ants', 'badgers', 'cats', 'dogs', 'elephants']

In [46]:
myCat = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}
myCat

{'size': 'fat', 'color': 'gray', 'disposition': 'loud'}

In [47]:
spam = {'color': 'red', 'age': 42}
for v in spam.values():
    print(v)

red
42

In [48]:
for k in spam.keys():
    print(k)

color
age

In [49]:
spam = {'color': 'red', 'age': 42}
for k , v in spam.items():
    print('Key:{} Value:{}'.format(k, str(v)))

Key:color Value:red
Key:age Value:42

In [50]:
spam = {'name': 'Zophie', 'age': 7}

In [51]:
'name' in spam.keys()

True

In [52]:
picnic_items = {'apples': 5, 'cups': 2}
'I am bringing {} cups.'.format(str(picnic_items.get('cups')))

'I am bringing 2 cups.'

In [53]:
spam = {'name': 'Pooka', 'age': 5}
spam.setdefault('color', 'black')

'black'

In [54]:
spam

{'name': 'Pooka', 'age': 5, 'color': 'black'}

In [55]:
# Can't change the setdefault function
spam.setdefault('color', 'Blue')

'black'

In [56]:
import pprint

message = "it was a bright cold day in April, and the clocks were striking thirteen."
count = {}


for k in message:
    count.setdefault(k, 0)
    count[k] = count[k] + 1
    
pprint.pprint(count)

{' ': 13,
 ',': 1,
 '.': 1,
 'A': 1,
 'a': 4,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 5,
 'g': 2,
 'h': 3,
 'i': 7,
 'k': 2,
 'l': 3,
 'n': 4,
 'o': 2,
 'p': 1,
 'r': 5,
 's': 3,
 't': 6,
 'w': 2,
 'y': 1}

In [57]:
x = {'a': 1, 'b': 2}
y = {'c': 3, 'd': 4}
z = {**x, **y}
z

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [58]:
s = {1, 2,3}
s.discard(3)
s

{1, 2}

In [59]:
# union() or | will create a new set that contains all the elements from the sets provided.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [60]:
s1 | s2

{1, 2, 3, 4, 5}

In [61]:
# intersection or & will return a set containing only the elements that are common to all of them.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}
#s1.intersection(s2, s3) 
s1 & s2 & s3

{3}

In [62]:
s1 = {"The", "Id", "No"}
s2 = {"No", "Yes", "Blue"}
s3 = {"Hi", "Hello", "No"}
s1 & s2 & s3

{'No'}

In [63]:
#set difference--difference or - will return only the elements that are unique to the first set (invoked set).

s1 = {1, 2, 3}
s2 = {2, 3, 4}
# s1.difference(s2)
s1 - s2

{1}

In [64]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.symmetric_difference(s2)  # or 's1 ^ s2'

{1, 4}

In [76]:
import itertools
data = [1, 2, 3, 4, 5]
result = itertools.accumulate(data, operator.mul)
for each in result:
    print(each)

NameError: name 'operator' is not defined

In [74]:
data = [5, 2, 6, 4, 5, 9, 1]
result = itertools.accumulate(data)
for each in result:
    print(each)

5
7
13
17
22
31
32

In [73]:
# pd.show_versions()

In [87]:
# combinations() Takes an iterable and a integer. This will create all the unique combination that have r members.
shapes = ['circle', 'triangle', 'square',]
result = itertools.combinations(shapes, 2)
for each in result:
     print(each)

('circle', 'triangle')
('circle', 'square')
('triangle', 'square')

In [89]:
for i in itertools.count(10,3):
    print(i)
    if i > 20:
               break

10
13
16
19
22

In [91]:
# cycle() This function cycles through an iterator endlessly.

#colors = ['red', 'orange', 'yellow', 'green', 'blue', 'violet']
#for color in itertools.cycle(colors):
      #print(color)

In [92]:
shapes = ['circle', 'triangle', 'square', 'pentagon']
result = itertools.chain(colors, shapes)
for each in result:
    print(each)

red
orange
yellow
green
blue
violet
circle
triangle
square
pentagon

In [93]:
robots = [{
    'name': 'blaster',
    'faction': 'autobot'
}, {
    'name': 'galvatron',
    'faction': 'decepticon'
}, {
    'name': 'jazz',
    'faction': 'autobot'
}, {
    'name': 'metroplex',
    'faction': 'autobot'
}, {
    'name': 'megatron',
    'faction': 'decepticon'
}, {
    'name': 'starcream',
    'faction': 'decepticon'
}]
for key, group in itertools.groupby(robots, key=lambda x: x['faction']):
    print(key)
    print(list(group))

autobot
[{'name': 'blaster', 'faction': 'autobot'}]
decepticon
[{'name': 'galvatron', 'faction': 'decepticon'}]
autobot
[{'name': 'jazz', 'faction': 'autobot'}, {'name': 'metroplex', 'faction': 'autobot'}]
decepticon
[{'name': 'megatron', 'faction': 'decepticon'}, {'name': 'starcream', 'faction': 'decepticon'}]

In [95]:
alpha_data = ['a', 'b', 'c', 'd', 'e']
result = itertools.permutations(alpha_data)
for each in result:
    print(each)

('a', 'b', 'c', 'd', 'e')
('a', 'b', 'c', 'e', 'd')
('a', 'b', 'd', 'c', 'e')
('a', 'b', 'd', 'e', 'c')
('a', 'b', 'e', 'c', 'd')
('a', 'b', 'e', 'd', 'c')
('a', 'c', 'b', 'd', 'e')
('a', 'c', 'b', 'e', 'd')
('a', 'c', 'd', 'b', 'e')
('a', 'c', 'd', 'e', 'b')
('a', 'c', 'e', 'b', 'd')
('a', 'c', 'e', 'd', 'b')
('a', 'd', 'b', 'c', 'e')
('a', 'd', 'b', 'e', 'c')
('a', 'd', 'c', 'b', 'e')
('a', 'd', 'c', 'e', 'b')
('a', 'd', 'e', 'b', 'c')
('a', 'd', 'e', 'c', 'b')
('a', 'e', 'b', 'c', 'd')
('a', 'e', 'b', 'd', 'c')
('a', 'e', 'c', 'b', 'd')
('a', 'e', 'c', 'd', 'b')
('a', 'e', 'd', 'b', 'c')
('a', 'e', 'd', 'c', 'b')
('b', 'a', 'c', 'd', 'e')
('b', 'a', 'c', 'e', 'd')
('b', 'a', 'd', 'c', 'e')
('b', 'a', 'd', 'e', 'c')
('b', 'a', 'e', 'c', 'd')
('b', 'a', 'e', 'd', 'c')
('b', 'c', 'a', 'd', 'e')
('b', 'c', 'a', 'e', 'd')
('b', 'c', 'd', 'a', 'e')
('b', 'c', 'd', 'e', 'a')
('b', 'c', 'e', 'a', 'd')
('b', 'c', 'e', 'd', 'a')
('b', 'd', 'a', 'c', 'e')
('b', 'd', 'a', 'e', 'c')
('b', 'd', 'c', 'a', 'e')
('b', 'd', 'c', 'e', 'a')
('b', 'd', 'e', 'a', 'c')
('b', 'd', 'e', 'c', 'a')
('b', 'e', 'a', 'c', 'd')
('b', 'e', 'a', 'd', 'c')
('b', 'e', 'c', 'a', 'd')
('b', 'e', 'c', 'd', 'a')
('b', 'e', 'd', 'a', 'c')
('b', 'e', 'd', 'c', 'a')
('c', 'a', 'b', 'd', 'e')
('c', 'a', 'b', 'e', 'd')
('c', 'a', 'd', 'b', 'e')
('c', 'a', 'd', 'e', 'b')
('c', 'a', 'e', 'b', 'd')
('c', 'a', 'e', 'd', 'b')
('c', 'b', 'a', 'd', 'e')
('c', 'b', 'a', 'e', 'd')
('c', 'b', 'd', 'a', 'e')
('c', 'b', 'd', 'e', 'a')
('c', 'b', 'e', 'a', 'd')
('c', 'b', 'e', 'd', 'a')
('c', 'd', 'a', 'b', 'e')
('c', 'd', 'a', 'e', 'b')
('c', 'd', 'b', 'a', 'e')
('c', 'd', 'b', 'e', 'a')
('c', 'd', 'e', 'a', 'b')
('c', 'd', 'e', 'b', 'a')
('c', 'e', 'a', 'b', 'd')
('c', 'e', 'a', 'd', 'b')
('c', 'e', 'b', 'a', 'd')
('c', 'e', 'b', 'd', 'a')
('c', 'e', 'd', 'a', 'b')
('c', 'e', 'd', 'b', 'a')
('d', 'a', 'b', 'c', 'e')
('d', 'a', 'b', 'e', 'c')
('d', 'a', 'c', 'b', 'e')
('d', 'a', 'c', 'e', 'b')
('d', 'a', 'e', 'b', 'c')
('d', 'a', 'e', 'c', 'b')
('d', 'b', 'a', 'c', 'e')
('d', 'b', 'a', 'e', 'c')
('d', 'b', 'c', 'a', 'e')
('d', 'b', 'c', 'e', 'a')
('d', 'b', 'e', 'a', 'c')
('d', 'b', 'e', 'c', 'a')
('d', 'c', 'a', 'b', 'e')
('d', 'c', 'a', 'e', 'b')
('d', 'c', 'b', 'a', 'e')
('d', 'c', 'b', 'e', 'a')
('d', 'c', 'e', 'a', 'b')
('d', 'c', 'e', 'b', 'a')
('d', 'e', 'a', 'b', 'c')
('d', 'e', 'a', 'c', 'b')
('d', 'e', 'b', 'a', 'c')
('d', 'e', 'b', 'c', 'a')
('d', 'e', 'c', 'a', 'b')
('d', 'e', 'c', 'b', 'a')
('e', 'a', 'b', 'c', 'd')
('e', 'a', 'b', 'd', 'c')
('e', 'a', 'c', 'b', 'd')
('e', 'a', 'c', 'd', 'b')
('e', 'a', 'd', 'b', 'c')
('e', 'a', 'd', 'c', 'b')
('e', 'b', 'a', 'c', 'd')
('e', 'b', 'a', 'd', 'c')
('e', 'b', 'c', 'a', 'd')
('e', 'b', 'c', 'd', 'a')
('e', 'b', 'd', 'a', 'c')
('e', 'b', 'd', 'c', 'a')
('e', 'c', 'a', 'b', 'd')
('e', 'c', 'a', 'd', 'b')
('e', 'c', 'b', 'a', 'd')
('e', 'c', 'b', 'd', 'a')
('e', 'c', 'd', 'a', 'b')
('e', 'c', 'd', 'b', 'a')
('e', 'd', 'a', 'b', 'c')
('e', 'd', 'a', 'c', 'b')
('e', 'd', 'b', 'a', 'c')
('e', 'd', 'b', 'c', 'a')
('e', 'd', 'c', 'a', 'b')
('e', 'd', 'c', 'b', 'a')

In [96]:
a = [1, 3, 5, 7, 9, 11]
[i-1 for i in a]

[0, 2, 4, 6, 8, 10]

In [97]:
 b = {"abc", "def"}
{s.upper() for s in b}

{'ABC', 'DEF'}

In [102]:
print("Hello there!\nHow are you?\nI\'m doing fine.")

Hello there!
How are you?
I'm doing fine.

In [113]:
print('''Dear Alice,

Eve's cat had been arrested for catnapping, cat burglary, and extortion.

Sincerly,
Bob''')

Dear Alice,

Eve's cat had been arrested for catnapping, cat burglary, and extortion.

Sincerly,
Bob

In [114]:
', '.join(['cats', 'rats', 'bats'])

'cats, rats, bats'

In [115]:
' '.join(['My', 'name', 'is', 'Simon'])

'My name is Simon'

In [117]:
spam = input()

2

In [118]:
spam

'2'

In [119]:
int(7.7)

7

In [123]:
print('What is your age')
myAge = input()
print('You will be ' + str(int(myAge) + 1) + ' in a. year.')

What is your age
5
You will be 6 in a. year.

In [124]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [136]:
name = 'Mary'
password = 'swordfish'
if name == 'Mary':
    print('Hello, Mary')
    if password == 'swordfish':
        print('Access granted.')
    else:
        print('Wrong password.')

Hello, Mary
Access granted.

In [170]:
name = 'Moesteel0'
age = 40
if name == 'Mike':
    print('Hi, Alice')
elif age > 27:
    print('you are a grown ass adult')
elif age <22:
    print('You still got time in life to figure things out')

you are a grown ass adult

In [172]:
spam = 0
while spam < 5:
    print('Hello, world.')
    spam = spam + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [175]:
name = ''
while name != 'your name':
    print('Please type your name.') 
    name = input()
    print('Thank you!')

Please type your name.
moe
Thank you!
Please type your name.
moes
Thank you!
Please type your name.
your name
Thank you!

In [187]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'your name':
        break
    print('Thank you')

Please type your name.
moesteelo
Thank you
Please type your name.
moe
Thank you
Please type your name.
your name

In [188]:
total = 0
for num in range(101):
    total = total + num
print(total)

5050

In [198]:
# how to get the even numbers in a range or list
for i in range (0, 20, 2):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18

In [204]:
list1 = [0,1,2,3,4,5,6,7,8,9]
# iteration
for num in list1:
   # check
   if num % 2 == 0:
      print(num)

0
2
4
6
8

In [201]:
import random
for i in range(5):
               print(random.randint(1,10))

8
10
8
4
6

In [206]:
import sys

while True:
    print('Type exit to exit')
    reponse = input()
    if reponse == 'exit':
        sys.exit()
    print('You typed ' + reponse + '.')

Type exit to exit
hello
You typed hello.
Type exit to exit
exit

SystemExit:

In [208]:
# This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')
# Ask the player to guess 6 times.
for guessesTaken in range(1, 7):
    print('Take a guess.')
    guess = int(input())
    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break    # This condition is the correct guess!
if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guessesTaken) + 'guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))

I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too low.
Take a guess.
15
Your guess is too low.
Take a guess.
16
Your guess is too low.
Take a guess.
17
Your guess is too low.
Take a guess.
20
Your guess is too high.
Take a guess.
19
Good job! You guessed my number in 6guesses!

In [209]:
import random, sys
print('ROCK, PAPER, SCISSORS')
# These variables keep track of the number of wins, losses, and ties.
wins = 0
losses = 0
ties = 0
while True: # The main game loop.
    print('%s Wins, %s Losses, %s Ties' % (wins, losses, ties))
    while True: # The player input loop.
        print('Enter your move: (r)ock (p)aper (s)cissors or (q)uit')
        playerMove = input()
        if playerMove == 'q':
            sys.exit() # Quit the program.
        if playerMove == 'r' or playerMove == 'p' or playerMove == 's':
            break # Break out of the player input loop.
        print('Type one of r, p, s, or q.')
    # Display what the player chose:
    if playerMove == 'r':
        print('ROCK versus...')
    elif playerMove == 'p':
        print('PAPER versus...')
    elif playerMove == 's':
        print('SCISSORS versus...')
    # Display what the computer chose:
    randomNumber = random.randint(1, 3)
    if randomNumber == 1:
        computerMove = 'r'
        print('ROCK')
    elif randomNumber == 2:
        computerMove = 'p'
        print('PAPER')
    elif randomNumber == 3:
        computerMove = 's'
        print('SCISSORS')
    # Display and record the win/loss/tie:
    if playerMove == computerMove:
        print('It is a tie!')
        ties = ties + 1
    elif playerMove == 'r' and computerMove == 's':
        print('You win!')
        wins = wins + 1
    elif playerMove == 'p' and computerMove == 'r':
        print('You win!')
        wins = wins + 1
    elif playerMove == 's' and computerMove == 'p':
        print('You win!')
        wins = wins + 1
    elif playerMove == 'r' and computerMove == 'p':
        print('You lose!')
        losses = losses + 1
    elif playerMove == 'p' and computerMove == 's':
        print('You lose!')
        losses = losses + 1
    elif playerMove == 's' and computerMove == 'r':
        print('You lose!')
        losses = losses + 1

ROCK, PAPER, SCISSORS
0 Wins, 0 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
r
ROCK versus...
SCISSORS
You win!
1 Wins, 0 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
s
SCISSORS versus...
ROCK
You lose!
1 Wins, 1 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
p
PAPER versus...
ROCK
You win!
2 Wins, 1 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
r
ROCK versus...
SCISSORS
You win!
3 Wins, 1 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
s
SCISSORS versus...
SCISSORS
It is a tie!
3 Wins, 1 Losses, 1 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
Q
Type one of r, p, s, or q.
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
q

SystemExit:

In [215]:
def hello():
    print('Howdy')
    print('Howdy!!!')
    print('Hello there.')
    
hello()

Howdy
Howdy!!!
Hello there.

In [216]:
def hello(name):
    print('Hello, ' + name)
    
hello('Alice')
hello("Bobo")

Hello, Alice
Hello, Bobo

In [258]:
import random
def getAnswer(answerNumber): 
    if answerNumber == 1:
        return 'It is certain'
    elif answerNumber == 2:
        return 'It is decidedly so'
    elif answerNumber == 3:
        return 'Yes'
    elif answerNumber == 4:
        return 'Reply hazy try again'
    elif answerNumber == 5:
        return 'Ask again later'
    elif answerNumber == 6:
        return 'Concentrate and ask again'
    elif answerNumber == 7:
        return 'My reply is no'
    elif answerNumber == 8:
        return 'Outlook not so good'
    elif answerNumber == 9:
        return 'Very doubtful'
    
print(getAnswer(random.randint(1, 9)))

It is decidedly so

In [259]:
spam = print('hello')

hello

In [260]:
None == spam

True

In [261]:
print('Hello', end='')
print('World')

HelloWorld

In [262]:
print('cars', 'dogs', 'bikes', sep=',')

cars,dogs,bikes

In [263]:
# How to conver to data type to another data type value

x = 1
y = 2.0
z = '3'

y = int(y) # to convert a float to a integer
z = int(z) # to convert a sring into a integer

y = float(y) # to convert a float to a integer
z = float(z) # to convert a string to a float

In [265]:
# how to convert input responses to str floats and intgers

name = input("What is your name?: ")
age = int(input("How old are you?: "))
height = float(input("How tall are you?:"" "))


print("Hello " +name)
print("You are "+str(age)+" years old")
print("Yu are "+str(height)+ "feet tall")

What is your name?: moe
How old are you?: 27
How tall are you?: 5.9
Hello moe
You are 27 years old
Yu are 5.9feet tall

In [280]:
import math

pi = 3.14



# print(round(pi)) # rounds the decimal point 
# print(math.ceil(pi)) # rounds the decimal point up
# print(math.floor(pi)) # rounds the decimal point down
# print(abs(pi)) # Conversts a number from negative to positive
# print(pow(pi, 2))# raises th power function by 2 or ny number indicated
# print(math.sqrt(420)) # square root a number 
# min and max fuction are used to gather the largest or smallest number in a set of values

In [15]:
# how to use slicing in python
# slicing = create a substring by extracting elements from another string 
#          indexing [] or slicing ()
#          [start:stop:step]

#name =  "Bro Code"

#first_name = name[0:3]
#last_name = name[4:8]
#funky_name = name[::3]
#reversed_name = name[::-1]

#print(first_name) 
#print(last_name)
#print (reversed_name)

website = "http:.//www.google.com"

slice(7, -4)

print(website[slice])

TypeError: 'slice' object is not callable

In [7]:
# if statements = a block of code that will execute if it's condition is true

age = int(input("How are old are you?: "))

if age >= 18:
    print("You are an adult!")
elif age == 100:
    print("Ypu are old as hell!")
elif age < 0:
    print("You haven't been born yet!")
else:
    print("You are a child!")

How are old are you?: -1
You haven't been born yet!

In [8]:
# lofical (and, or, not) = used to check if two or more conditional statements

temp = int(input("What is the temperature outside?: "))

if temp >= 0 and temp <= 30: 
    print("the temperature is good today!")
    print('go outside!')
elif temp < 0 or temp  > 30:
    print("the temperature is bad today!")
    print('Stay inside!')

What is the temperature outside?: -20
the temperature is bad today!
Stay inside!

In [18]:
def spam(divideBy):
    try:
        return 42 / divideBy
    except ZeroDivisionError:
        print('Error: Invalid argument.')
        
print(int(spam(2)))
print(spam(12))
print(spam(0))
print(spam(1))
print(spam(24))

21
3.5
Error: Invalid argument.
None
42.0
1.75

In [23]:
import time, sys
indent = 0 # How many spaces to indent.
indentIncreasing = True # Whether the indentation is increasing or not.
try:
    while True: # The main program loop.
        print(' ' * indent, end='')
        print('********')
        time.sleep(0.1) # Pause for 1/10 of a second.
        if indentIncreasing:
            # Increase the number of spaces:
            indent = indent + 1
            if indent == 20:
                # Change direction:
                indentIncreasing = False
        else:
            # Decrease the number of spaces:
            indent = indent - 1
            if indent == 0:
                # Change direction:
                indentIncreasing = True
except KeyboardInterrupt:
    sys.exit()

********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********
                ********
                 ********
                  ********
                   ********
                    ********
                   ********
                  ********
                 ********
                ********
               ********
              ********
             ********
            ********
           ********
          ********
         ********
        ********
       ********
      ********
     ********
    ********
   ********
  ********
 ********
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********
        ********
         ********
          ********
           ********
            ********
             ********
              ********
               ********

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

                ********
Traceback (most recent call last):
  File "<ipython-input-23-f520da7604d2>", line 8, in <module>
    time.sleep(0.1) # Pause for 1/10 of a second.
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-23-f520da7604d2>", line 22, in <module>
    sys.exit()
SystemExit

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Applications/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
AttributeError: 'tuple' object has no attribute 'tb_frame'

TypeError: object of type 'NoneType' has no len()

In [1]:
# While loop = a statement that will execute it's block of code, as lon gas it's condition remains true

name = ""

while len(name) == 0:
    name = input("Enter your name: ")
    
print("Hello "+name)

Enter your name:
Enter your name:
Enter your name: bri
Hello bri

In [7]:
import time
# for loop = a statement tha twull execue it's block pf code a limited amount of time 

#                   while loop = unlimited 
#                   for loop = limited 

#for i in range(10):
    #print(i + 1)
    
    
#for i in range (50, 100 + 1, 2):
    #print(i)
    
    
#for i in "Mohamed Ahmed":
   #print(i)
    
    
for seconds in range(10,0, -1):
    print(seconds)
    time.sleep(1)
print("Hapy new Year!")

10
9
8
7
6
5
4
3
2
1
Hapy new Year!

In [2]:
# nested loops = The "inner loop" will finish all of it's interations before finishing one interation of the 
#.                                                                           "outer loop" 

rows = int(input("How many rows?: "))
columns = int(input("How many columns?: "))
symbol = input("Enter a symbol to use?: ")


for i in range(rows):
    for J in range(columns):
        print(symbol, end="")
    print()

How many rows?: 5
How many columns?: 6
Enter a symbol to use?: %
%%%%%%
%%%%%%
%%%%%%
%%%%%%
%%%%%%

In [5]:
# Loop Controls Statements = change a loops execution from its normal sequence 

# break = used to terminate the loop entirely 
# continue  = skips to the next iteration of the loop.
# pass = does nothing, acts as a placeholder


# while True:
#     name = input("Enter your name: ")
#     if name != "":
#         break 
        
        
# phone_number = "123-456-7890"

# for i in phone_number:
#     if i == "-":
#         continue
#     print(i, end="")


for i in range (1, 21):
    
    if i == 13:
        pass
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [8]:
# list = used to store multiple items in a single variable 

food = ["pizza", "hamburger", "hotdog", "spaghetti", "pudding"]

food[0] = "sushi"

food.append("ice cream")
food.remove("hotdog")
food.pop()
food.insert(0, "cake")
food.sort()
# food.clear()

for x in food:
    print(x)

cake
hamburger
pudding
spaghetti
sushi

In [9]:
# 2D lists = a lists of lists 

drinks = ["coffe", 'soda', "tea"]
dinner = ["pizza", "hamburger", "hotdog"]
dessert = ["cake","ice cream"]

food = [drinks, dinner, dessert]

print(food)

[['coffe', 'soda', 'tea'], ['pizza', 'hamburger', 'hotdog'], ['cake', 'ice cream']]

In [10]:
# tuple = collection which is ordered and unchangeable used to group togther realted data

student = ("Bro", 21, "male")

print(student.count("Bro"))
print(student.index("male"))

for x in student:
    print(x)
    
if "Bro" in student:
    print("Bro is here!")

1
2
Bro
21
male
Bro is here!

In [16]:
# set = collection which is unordred, unindexed. No duplicate values

utensils = {"fork", "spoon", "knife"}
dishes = {"bowl", "plate", "cup", "knife"}

# utensils.add("napkin")
# utensils.remove("fork")
# untesils.clear()
# utensils.update(dishes)
# dinner_table = utensils.union(dishes)

print(utensils.difference(dishes))
print(utensils.intersection(dishes))

{'spoon', 'fork'}
{'knife'}

In [20]:
# dictionary = A changeable, unordered colection of unique key:vlaue pairs 
#.             Fast because they use hashing, allow us to access a value quickly

capitals = { "USA": "Washington DC",
             "India": 'new Dehli',
             "China": "Beijing",
             "Russia": 'Moscow'}


capitals.update({'Germany': 'Berlin'})
capitals.update({'USA': 'Las Vegas'})
# capitals.pop('China')
# capitals.clear()

print(capitals['Germany'])
print(capitals.get('Germany'))


for key, value in capitals.items():
    print(key, value)

Berlin
Berlin
USA Las Vegas
India new Dehli
China Beijing
Russia Moscow
Germany Berlin

In [25]:
# indexing operator [] = gives acces to a sequence's element (str, list, tuples)

name = "bro code!"

if(name[0].islower()):
    name = name.capitalize()

    
first_name = name[:3].upper()
last_name = name[4:].lower()
last_character = name[-1]

print(first_name)
print(last_name)
print(last_character)

BRO
code!
!

In [35]:
# function = a block of code which is executed only when it is called 

def hello(first_name, last_name, age):
    print("Hello "+first_name+" "+last_name+"!")
    print("You are "+str(age)+" years old")
    print("Have a nice day!")
    
hello("Mohamed", "Ahmed", 27)

Hello Mohamed Ahmed!
You are 27 years old
Have a nice day!

In [45]:
# return statement = Function send Python values/object back to the callers.
#.                   These value/objecs are known as the functions's return value 

def multiply(number1, number2):
    return number1 * number2

def division (number3, number4):
    return number3 / number4

def equal (number5, number6):
    return number5 == number6

x = multiply(6,8)
z = division(48,8)
y = equal(2,2)

print(x)
print(z)
print(y)

48
6.0
True

In [47]:
# keyword arguments = arguments preceded by an identifier when we pass them to a a function
#                     The order of the arguments doesn't matter, unlike postional arguments 
#                     ython knows the names of the arguemnts that out function receives


def hello(first, middle, last):
    print("Hello "+first+" "+middle+" "+last)
    
hello(last="ahmed", middle="Nasser", first="Moe")

Hello Moe Nasser ahmed

In [52]:
# nested function calles = function calls inside other function calls
#                          innermost function calls are resolved first 
#                          returned values is used as arguemt for the next outer function 

num = input("Enter a whole positive number: ")
num = float(num)
num = abs(num)
num = round(num)
print(num)


print(round(abs(float(input("Enter a whole positive number: ")))))

Enter a whole positive number: -36
36
Enter a whole positive number: -.106
0

In [55]:
# scope = The region that a variable is recongized 
#.        A variable is only available from the inside the region it is created.
#.        A global abd locally scoped versions of a variable can be created 


name = "Bro" # global scope (avialable inside & outside fucnions)

def display_name():
    name = "Code"    # local scope (available only inside this function)
    print(name)
    
    
display_name()
print(name)

Code
Bro

In [57]:
# *args = paramter that will pack all arguemts into a tuple 
#.       useful so that a function can accept a varying amount arguments 

def add(*stuff):
    sum =0 
    stuff = list(stuff)
    stuff[0] = 0 
    for i in stuff:
        sum += i
    return sum

print(add(1,2,3,4,5,6))

20

In [59]:
# **kwargs = parameter that will pack all arguemnts into a dictionary. 
#.           useful so that a function can accpet a varying amount of keyword arguments 

def hello(**kwargs):
    # print ("Hello " +kwargs['first'] + " " kwargs['last'])
    print("Hello", end=" ")
    for key, value in kwargs.items():
        print(value,end=" ")
        
hello(tittle="Mr. ", first='Bro',middle="Dude",last="Code")

Hello Mr.  Bro Dude Code

In [60]:
# str.format() = optional method tha gives users more control when displaying output

number = 1000

print("the number pi is {:.3f}".format(number))
print("the number is {:,}".format(number))
print("the number is {:.3f}".format(number))
print("the number is {:b}".format(number))
print("the number is {:o}".format(number))
print("the number is {:X}".format(number))
print("the number is {:E}".format(number))

the number pi is 1000.000
the number is 1,000
the number is 1000.000
the number is 1111101000
the number is 1750
the number is 3E8
the number is 1.000000E+03

In [71]:
def dispatch_if(operator, x, y):
    if operator =='add':
        return x + y
    elif operator == 'sub':
        return x- y
    elif operator == 'mul':
        return x * y
    elif operator == 'div':
        return x / y
    else:
        return None

In [72]:
      
def dispatch_dict(operator, x, y):
    return{
        'add': lambda: x + y,
        'sub': lambda: x - y,
        'mul': lambda: x * y,
        'div': lambda: x / y,
    }.get(operator, lambda: None)

In [73]:
dispatch_if ('mul', 2, 8)

16

In [77]:
dispatch_if ('sub', 2, 8)

-6

In [81]:
import random

x = random.randint(1,6)
y = random.random()

myList =['rock', 'paper', 'scissors']
z = random.choice(myList)

cards = [1,2,3,4,5,6,7,8,9, "J", 'Q', 'K', 'A']
random.shuffle(cards)

print(myList)
print(cards)

['rock', 'paper', 'scissors']
[2, 8, 5, 1, 7, 3, 6, 'K', 4, 9, 'J', 'Q', 'A']

In [82]:

# exception =   events detected during execution that interrupt the flow of a program

try:
    numerator = int(input("Enter a number to divide: "))
    denominator = int(input("Enter a number to divide by: "))
    result = numerator / denominator
except ZeroDivisionError as e:
    print(e)
    print("You can't divide by zero! idiot!")
except ValueError as e:
    print(e)
    print("Enter only numbers plz")
except Exception as e:
    print(e)
    print("something went wrong :(")
else:
    print(result)
finally:
    print("This will always execute")

Enter a number to divide: 5
Enter a number to divide by: 2
2.5
This will always execute

In [15]:
import os

path = "C:Users\mohamednahmed\\Desktop\\Practising-With-Python"

if os.path.exists(path):
    print("That location exists!")
    if os.path.isfile(path):
        print("That is a file")
    elif os.path.isdir(path):
        print("That is a directory!")
else:
    print("That location doesn't exist!")

That location doesn't exist!

In [16]:
try:
    with open ('Text.txt') as file:
        print(file.read())
except FileNotFoundError:
    print("That file was not found :()")

Yoooooo
This is some text
Have a good one!

In [18]:
text = "Biryanniiii"

with open('Text.txt', 'a') as file:
    file.write(text)

In [20]:
# copyfile() =  copies contents of a file
# copy() =      copyfile() + permission mode + destination can be a directory
# copy2() =     copy() + copies metadata (files creation and modification times)

import shutil

shutil.copyfile('Text.txt','copy.txt') #src,dst

'copy.txt'

In [22]:
import os 

source = "Test.txt"
destination = "C:Users\mohamednahmed\\Desktop\\Practising-With-Python"

try:
    if os.path.exists(destination):
        print("There is already a file there")
    else:
        os.replace(source,destination)
        print(source+" was moved")
except FileNotFoundError:
    print(source+" was not found")

Test.txt was not found

In [24]:
import os
import shutil

path = "C:Users\mohamednahmed\\Desktop\\Practising-With-Python\\Test.txt"

try:
    os.remove(path)    #delete a file
    #os.rmdir(path)     #delete an empty directory
    #shutil.rmtree(path)#delete a directory containing files
except FileNotFoundError:
    print("That file was not found")
except PermissionError:
    print("You do not have permission to delete that")
except OSError:
    print("You cannot delete that using that function")
else:
    print(path+" was deleted")

That file was not found

In [25]:
import random

while True:
    choices = ["rock","paper","scissors"]

    computer = random.choice(choices)
    player = None

    while player not in choices:
        player = input("rock, paper, or scissors?: ").lower()

    if player == computer:
        print("computer: ",computer)
        print("player: ",player)
        print("Tie!")

    elif player == "rock":
        if computer == "paper":
            print("computer: ", computer)
            print("player: ", player)
            print("You lose!")
        if computer == "scissors":
            print("computer: ", computer)
            print("player: ", player)
            print("You win!")

    elif player == "scissors":
        if computer == "rock":
            print("computer: ", computer)
            print("player: ", player)
            print("You lose!")
        if computer == "paper":
            print("computer: ", computer)
            print("player: ", player)
            print("You win!")

    elif player == "paper":
        if computer == "scissors":
            print("computer: ", computer)
            print("player: ", player)
            print("You lose!")
        if computer == "rock":
            print("computer: ", computer)
            print("player: ", player)
            print("You win!")

    play_again = input("Play again? (yes/no): ").lower()

    if play_again != "yes":
        break

print("Bye!")

rock, paper, or scissors?: paper
computer:  scissors
player:  paper
You lose!
Play again? (yes/no): no
Bye!

In [1]:
# -------------------------
def new_game():

    guesses = []
    correct_guesses = 0
    question_num = 1

    for key in questions:
        print("-------------------------")
        print(key)
        for i in options[question_num-1]:
            print(i)
        guess = input("Enter (A, B, C, or D): ")
        guess = guess.upper()
        guesses.append(guess)

        correct_guesses += check_answer(questions.get(key), guess)
        question_num += 1

    display_score(correct_guesses, guesses)

# -------------------------
def check_answer(answer, guess):

    if answer == guess:
        print("CORRECT!")
        return 1
    else:
        print("WRONG!")
        return 0

# -------------------------
def display_score(correct_guesses, guesses):
    print("-------------------------")
    print("RESULTS")
    print("-------------------------")

    print("Answers: ", end="")
    for i in questions:
        print(questions.get(i), end=" ")
    print()

    print("Guesses: ", end="")
    for i in guesses:
        print(i, end=" ")
    print()

    score = int((correct_guesses/len(questions))*100)
    print("Your score is: "+str(score)+"%")

# -------------------------
def play_again():

    response = input("Do you want to play again? (yes or no): ")
    response = response.upper()

    if response == "YES":
        return True
    else:
        return False
# -------------------------


questions = {
 "Who created Python?: ": "A",
 "What year was Python created?: ": "B",
 "Python is tributed to which comedy group?: ": "C",
 "Is the Earth round?: ": "A"
}

options = [["A. Guido van Rossum", "B. Elon Musk", "C. Bill Gates", "D. Mark Zuckerburg"],
          ["A. 1989", "B. 1991", "C. 2000", "D. 2016"],
          ["A. Lonely Island", "B. Smosh", "C. Monty Python", "D. SNL"],
          ["A. True","B. False", "C. sometimes", "D. What's Earth?"]]

new_game()

while play_again():
    new_game()

print("Byeeeeee!")

-------------------------
Who created Python?:
A. Guido van Rossum
B. Elon Musk
C. Bill Gates
D. Mark Zuckerburg
Enter (A, B, C, or D): c
WRONG!
-------------------------
What year was Python created?:
A. 1989
B. 1991
C. 2000
D. 2016
Enter (A, B, C, or D): d
WRONG!
-------------------------
Python is tributed to which comedy group?:
A. Lonely Island
B. Smosh
C. Monty Python
D. SNL
Enter (A, B, C, or D): b
WRONG!
-------------------------
Is the Earth round?:
A. True
B. False
C. sometimes
D. What's Earth?
Enter (A, B, C, or D): a
CORRECT!
-------------------------
RESULTS
-------------------------
Answers: A B C A
Guesses: C D B A
Your score is: 25%
Do you want to play again? (yes or no): no
Byeeeeee!

In [4]:
from car import Car

car_1 = Car("Chevy", "Corvette", 2021, "Blue")
car_2 = Car("Ford", "Mustang", 2022, "Red")

car_1.drive()
car_2.stop()

ModuleNotFoundError: No module named 'car'

In [5]:
class Car:

    def __init__(self,make,model,year,color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color

    def drive(self):
        print("This "+self.model+" is driving")

    def stop(self):
        print("This "+self.model+" is stopped")

In [6]:
Class Car: 
    
    wheels = 4 # class variable

    def __init__(self,make,model,year,color):
        self.make = make     # instance variable
        self.model = model    # instance variable
        self.year = year      # instance variable
        self.color = color    # instance variable

SyntaxError: invalid syntax (<ipython-input-6-c9a75c2a51bf>, line 1)

In [7]:
class Animal:

    alive = True

    def eat(self):
        print("This animal is eating")

    def sleep(self):
        print("This animal is sleeping")

class Rabbit(Animal):

    def run(self):
        print("This rabbit is running")

class Fish(Animal):

    def swim(self):
        print("This fish is swimming")

class Hawk(Animal):

    def fly(self):
        print("This hawk is flying")


rabbit = Rabbit()
fish = Fish()
hawk = Hawk()

print(rabbit.alive)
fish.eat()
hawk.sleep()

rabbit.run()
fish.swim()
hawk.fly()

True
This animal is eating
This animal is sleeping
This rabbit is running
This fish is swimming
This hawk is flying

In [ ]:
import optuna


# Define an objective function to be minimized.
def objective(trial):

    # Invoke suggest methods of a Trial object to generate hyperparameters.
    regressor_name = trial.suggest_categorical('regressor', ['SVR', 'RandomForest'])
    if regressor_name == 'SVR':
        svr_c = trial.suggest_float('svr_c', 1e-10, 1e10, log=True)
        regressor_obj = sklearn.svm.SVR(C=svr_c)
    else:
        rf_max_depth = trial.suggest_int('rf_max_depth', 2, 32)
        regressor_obj = sklearn.ensemble.RandomForestRegressor(max_depth=rf_max_depth)

    X, y = sklearn.datasets.fetch_california_housing(return_X_y=True)
    X_train, X_val, y_train, y_val = sklearn.model_selection.train_test_split(X, y, random_state=0)

    regressor_obj.fit(X_train, y_train)
    y_pred = regressor_obj.predict(X_val)

    error = sklearn.metrics.mean_squared_error(y_val, y_pred)

    return error  # An objective value linked with the Trial object.

study = optuna.create_study()  # Create a new study.
study.optimize(objective, n_trials=100)  # Invoke optimization of the objective function.